/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.custom-shape-divider-top-1711592168 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1711592168 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1711592168 .shape-fill {
  fill: #730992;
}

/* Header styles */
header {
  width: 100%;
  background-color: #ca94da;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100px;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

/* Main styles */
.lightstick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Reduce margin */
  padding: 10px; /* Reduce padding */
  background-color: #fafafa; /* Warna background */
  border-radius: 10px;
}

.lightstick-content {
  flex: 1;
  padding: 0 20px;
}

.lightstick-image img {
  max-width: 300px;
}

/* style card-categories */
.cards-categories {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .cards-categories h2 {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
  }
  
  .card-categories {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  
  .card {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
	transform: scale(1.05);
  }
  
  .card .card-image {
	overflow: hidden;
	border-radius: 15px 15px 0 0;
  }
  
  .card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
  }
  
  .card-content {
	padding: 20px;
  }
  
  .card h5 {
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #333;
  }
  
  .card p.description {
	font-size: 14px;
	color: #666;
	margin-bottom: 15px;
  }
  
  .card p.price {
	font-size: 18px;
	font-weight: bold;
	color: #030303;
	margin-bottom: 15px;
  }

.cards-categories {
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn_belanja {
  background-color: #8e24aa; /* Warna tombol */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_belanja:hover {
  background-color: #7b1fa2; /* Warna saat hover */
}

/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #673ab7;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Dream theme */
.lightstick-content h1 {
  color: #673ab7; /* Warna judul */
}

.lightstick-content p {
  color: #757575; /* Warna teks */
}

.lightstick-content .btn_getStarted {
  background-color: #673ab7; /* Warna tombol */
  color: #fff;
}

.lightstick-content .btn_getStarted:hover {
  background-color: #5e35b1; /* Warna saat hover */
}

.login-form {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.login-form h1 {
  color: #673ab7; /* Warna judul */
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.btn-login {
  background-color: #673ab7; /* Warna tombol */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #5e35b1; /* Warna saat hover */
}

/* Style untuk tombol registrasi */
.btn-register {
  background-color: #673ab7; /* Warna tombol */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #5e35b1; /* Warna saat hover */
}

/* Style untuk footer */
footer {
  text-align: center;
  margin-top: 20px;
}

/* Style untuk tautan login */
.register-form p {
  margin-top: 15px;
}

.register-form p a {
  color: #673ab7; /* Warna tautan */
  text-decoration: none;
}

.register-form p a:hover {
  text-decoration: underline;
}

.carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
